html {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
}

.wrapper {
  color: #fff;
}

/** LOGO **/

.logo {
  max-width: 200px;
  cursor: pointer;
}

/** NAVIGATION **/

header nav a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header li {
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
}

ul {
  padding: 0;
}

/* Syling dropdown menu */

.material-icons {
  background-color: #12433A;
  color: #fff;
  border: 1px solid;
  border-radius: 10%; /** Curving the sides of the shape**/

}

.menu { /** Positioning the dropwdown content **/
  position: relative;
  display: inline-block;
  z-index: 100;
  float: right;
}

.dropdown-content a { /** Styling the links within the dropdown menu **/
  color: #000;
  display: block;
  float: left;
}

.dropdown-content a:hover { /** Changing the dropdown links background when clicked **/
  display: block;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  text-align: center;
  margin: 0 0 0 5px;
  margin-top: 75px;
  padding: 6px 10px;
}

.menu:hover .dropdown-content {
  display: block;
}

.menu:hover .material-icons {
  background-color: #fff;
  border: 2px solid #12433A;
  color: #12433A;
  cursor: pointer;
  outline: none;
}

/** BANNER CONTENT **/

.banner {
  position: relative;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(https://static.pexels.com/photos/271560/pexels-photo-271560.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  background-position: right;
}

.banner-content {
  position: absolute;
  top: 150px;
  color: #fff;
}

.banner-heading {
  font-family: 'Open Sans Condensed', sans-serif;
}

.banner-content-small {
  font-family: 'Open Sans Condensed', sans-serif;
}

.banner-button a {
  margin: auto;
  text-align: center;
  background-color: #12433A;
  border: none;
  color: #fff;
  padding: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: .25em;
  text-decoration: none;
}

/** OPENING **/

.opening-subhead {
  color: #12433A;
}

.opening-sentence {
  font-family: 'Open Sans', sans-serif;
}

/** HR LINES **/

hr {
  border-color: #000;
  margin: 2rem;

}

/** ICONS **/

.icon-label {
  color: #12433A;
}

.icon-content {
  font-family: 'Open Sans', sans-serif;
}

.img-flex {
  margin: auto;
}

ul {
  padding: 0;
}

/** FREE RESOURCES SECTION **/

.msn-section {
  color: #12433A;
}

.msn-content {
  font-family: 'Open Sans', sans-serif;
}

.resources-button a {
  margin: auto;
  text-align: center;
  background-color: #12433A;
  border: none;
  color: #fff;
  padding: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: .25em;
  text-decoration: none;
}

/** REVIEWS **/

.review-one,
.review-two {
  background: #F8F8F8;
  border: 1px solid #000;
  margin: 1.5em 1em;
}

blockquote {
  line-height: 1.5;
}

blockquote:before {
  font-family: Georgia, serif;
  display: block;
  padding-left: 10px;
  color: #12433A;
  content: "\201C"; /* What makes the quotations appear */
  font-size: 4em;
  position: relative;
  margin-right: .25em;
  margin-top: .5em;
  vertical-align: .4em;
  text-align: center;
}

blockquote p {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.quote-cite {
  color: #12433A;
}

/** BOTTOM TEXTFIELD**/

.bottom-textfield-one {
    font-family: 'Open Sans', sans-serif;
}

.bottom-textfield-two {
  font-family: 'Open Sans', sans-serif;
  color: #12433A;
  font-size: .75em;
}

input[type="text"], textarea, select {
  outline: none;
  color:  #12433A;
  border-color: #12433A;
  font-family: 'Open Sans', sans-serif;
}

.homepage-button3 {
  outline: none;
  color: #fff;
  background-color: #12433A;
  border: 0px;
  font-family: 'Open Sans', sans-serif;
}

.get-started-btn {
  color: #fff;
  text-decoration: none;
}

/** FOOTER **/

footer {
  background-color: #12433A;
  color: #fff;
  padding: 2.5em;
  padding-top: 1.5em;
  text-align: center;
}

/** THANK YOU PAGE **/

.thank-you-content {
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.thank-you-h1 {
  color: #12433A;
}

.thank-you-sentence {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.thank-you-statement {
  color: #12433A;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/** TOUR PAGE **/

.wrapper-tour {
  background-color: #12433A;
  height: 75vh;
  position: relative;
}

.tour-content {
  position: absolute;
  color: #fff;
  top: 175px;
}

.tour-opening-sentence {
  color: #12433A;
}

.tour-h2 {
  color: #12433A;
}

.tour-bottom-h2 {
  color: #12433A;
}

.tour-button a {
  margin: auto;
  text-align: center;
  background-color: #fff;
  border: 1px solid #12433A;
  color: #12433A;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: .25em;
  text-decoration: none;
}

/** RESOURCES PAGE **/

.resource-content {
  color: #fff;
  position: absolute;
  top: 100px;
}

.resources-h2 {
  color: #12433A;
}

.team-h3 {
  color: #12433A;
}

.advertising-h3 {
  color: #12433A;
}

.film-h3 {
  color: #12433A;
}

.dict-title,
.dict-h4 {
  color: #12433A;
}

.plugins-title {
  color: #12433A;
}

.plugins-h4 {
  color: #12433A;
}

.underline {
  text-decoration: underline;
}

/** SIGN UP PAGE **/

.sign-up-sentence-2 {
  color: #12433A;
}

fieldset {
  border: none;
}

label {
  color: #12433A;
  font-weight: 300;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="country"],
input[type="city"]{
  border: 1px solid #12433A;
  outline: none;
}

select[id="options"],
select[id="options-2"] {
  outline: none;
  background-color: #E0EAE8;
  border: 1px solid #12433A;
}

legend {
  color: #12433A;
}

input[type="radio"] + label::before {
  border-color: #12433A;
  outline: none;
}

input[type="radio"] + label::after{
  border-color: #12433A;
}

input[type="checkbox"] + label::before {
  border-color: #12433A;
}

input[type="checkbox"] + label::after{
  border-color: #12433A;
}

input[type="button"] {
  margin: auto;
  text-align: center;
}

.signup-button a {
  margin: auto;
  text-align: center;
  background-color: #12433A;
  border: none;
  color: #fff;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: .25em;
  text-decoration: none;
}

/** PRICING PAGE **/

.pricing-wrapper {
  background-color: #12433A;
}

.pricing-content {
  color: #fff;
  position: absolute;
  top: 75px;
}

.pricing-h1 {
  color: #fff;
}

.pricing-p {
  margin-right: 2em;
  margin-left: 2em;
  color: #fff;
}

.pricing-btn {
  border: 1px solid #fff;
  border-radius: .25em;
  background-color: #12433A;
  padding: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.button a {
  text-decoration: none;
  color: #fff;
}

.mgfx-button {
  color: #12433A;
}

.mgfx-btn {
  border: 1px solid #12433A;
  background-color: #fff;
  color: #12433A;
}

/** MEDIA QUERIES **/

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .tour-content {
    padding: 2em;
    top: 150px;
  }

  .tour-opening-sentence-2 {
    padding: 2em;
    padding-top: .5em;
  }

  .globe {
    height: 175px;
    width: 175px;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 100%;
    line-height: 1.4;
  }

  .banner-heading {
    padding-right: 3em;
    padding-left: 3em;
  }

  .icon-label {
    font-size: 20px;
  }

  .icon-content {
    font-size: 15px;
  }

  .tour-content {
    padding: 8em;
    top: 50px;
  }

  .globe {
    height: 150px;
    width: 150px;
  }

  .active-users {
    padding-top: 3em;
  }

  .tour-bottom-h2 {
    font-size: 1em;
  }

  .tour-btn {
    padding-top: 2.25em;
  }

  .tour-button a {
    margin: auto;
    text-align: center;
    background-color: #fff;
    border: 1px solid #12433A;
    color: #12433A;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: .25em;
    text-decoration: none;
  }

  .copyright {
    float: left;
    font-size: .5em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .banner-content {
    margin: 5rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
  }

  .material-icons {
    display: none;
  }

  .dropdown-content {
    display: block;
    position: relative;
    background: none;
    padding-top: 1.25em;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
  }

  .dropdown-content a {
    padding-left: 1.75em;
    padding-right: 0;
  }

  .menu ul li {
    display: inline-block;
    z-index: 1000;
  }

  .opening-content {
    margin-right: 3em;
    margin-left: 3em;
    padding: 2em;
  }

  .resource-section {
    margin: 5em;
    margin-top: .5rem;
    margin-bottom: 2rem;
  }

  .tour-opening {
    margin: 5em;
    margin-top: .5rem;
    margin-bottom: 2rem;
  }

  .ideas-section {
    margin: 6em;
    margin-top: .5rem;
    margin-bottom: 2rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  .banner-content {
    margin: 5rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
  }

  .resource-section {
    margin: 5em;
    margin-top: .5rem;
    margin-bottom: 2rem;
  }

  .material-icons {
    display: none;
  }

  .dropdown-content {
    display: block;
    position: relative;
    background: none;
    padding-top: 1.25em;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
  }

  .dropdown-content a {
    padding-left: 1.75em;
    padding-right: 0;
  }

  .menu ul li {
    display: inline-block;
    z-index: 1000;
  }

}
