html {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
}

.wrapper {
  color: #fff;
  padding: 1rem;
}

/** LOGO **/

.logo {
  width: 30%;
  max-width: 200px;
  padding-top: 1rem;
  padding-left: .5rem;
  left: 0;
  top: 0;
}

/** NAVIGATION **/

ul a {
  float: right;
  font-family: 'Open Sans', sans-serif;
}

/** BANNER CONTENT **/

.banner {
  position: relative;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(https://static.pexels.com/photos/271560/pexels-photo-271560.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  background-position: right;
}

.banner-content {
  position: absolute;
  top: 120px;
  color: #fff;
}

.banner-heading {
  font-family: 'Open Sans Condensed', sans-serif;
}

.banner-content-small {
  font-family: 'Open Sans Condensed', sans-serif;
}

.banner-button .btn {
  background-color: #12433A;
  border: 0;
}

/** OPENING **/

.opening-subhead {
  color: #12433A;
}

.opening-sentence {
  font-family: 'Open Sans', sans-serif;
}

/** HR LINES **/

hr {
  border-color: #000;
  margin: 2rem;

}

/** ICONS **/

.icon-label {
  color: #12433A;
}

.icon-content {
  font-family: 'Open Sans', sans-serif;
}

.img-flex {
  margin: auto;
}

ul {
  padding: 0;
}

/** FREE RESOURCES SECTION **/

.msn-section {
  color: #12433A;
}

.msn-content {
  font-family: 'Open Sans', sans-serif;
}

.resources-button .btn {
  background-color: #12433A;
  border: 0;
}

/** REVIEWS **/

blockquote {
  background: #F8F8F8;
  border: 1px solid #000;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019"";
}

blockquote:before {
  font-family: Georgia, serif;
  display: block;
  padding-left: 10px;
  color: #12433A;
  content: "\201C";
  font-size: 8em;
  position: absolute;
  line-height: 1em;
  margin-right: .25em;
  vertical-align: .4em;
}

blockquote p {
  display: inline;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/** BOTTOM TEXTFIELD**/

.bottom-textfield-one {
    font-family: 'Open Sans', sans-serif;
}

.bottom-textfield-two {
  font-family: 'Open Sans', sans-serif;
  color: #12433A;
  font-size: .75em;
}

input[type="text"], textarea, select {
  outline: none;
  color:  #12433A;
  border-color: #12433A;
  font-family: 'Open Sans', sans-serif;
}

input[type="button"], select {
  outline: none;
  color: #fff;
  background-color: #12433A;
  border: 0px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 2.25em;
}

/** FOOTER **/

footer {
  background-color: #12433A;
  color: #fff;
  padding: 2.5rem;
  text-align: center;
}

/** THANK YOU PAGE **/

.thank-you-content {
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.thank-you-h1 {
  color: #12433A;
}

.thank-you-sentence {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.thank-you-statement {
  color: #12433A;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/** SIGN UP PAGE **/

.sign-up-sentence-2 {
  color: #12433A;
}

fieldset {
  border: none;
}

label {
  color: #12433A;
  font-weight: 300;
}

input[type="text"] {
  border: 1px solid #12433A;
}
